:root {
  --light-bg: linear-gradient(180deg, #f2f6f5 0%, #e6e7e7 100%);
  --light-sidenav-bg: #eceeee;
  --light-color: #1b262c;
  --light-link-color: #3282b8;
  --light-link-color--active: #0f3854;
  --light-tr-bg: #fff;
  --light-tr-bg--odd: #f6f8fa;
  --light-header-bg: #135c8d;

  --dark-color: #E4D9F9;
  --dark-bg: #14224E;
  --dark-sidenav-bg: #14224E;
  --dark-link-color: #a75c00;
  --dark-link-color--active: #bd9234;
  --dark-header-bg: #081541;
  --dark-tr-bg: #3d4a55;
  --dark-tr-bg--odd: #6e7988;

  --header-height: 2.5rem;
  --side-padding: 3%;
  --transition-duration: 0.2s;
  --transition-duration--fast: 0.1s;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 18px;
}

body {
  --bg: var(--light-bg);
  --color: var(--light-color);
  --sidenav-bg: var(--light-sidenav-bg);
  --link-color: var(--light-link-color);
  --link-color--active: var(--light-link-color--active);
  --tr-bg: var(--light-tr-bg);
  --tr-bg--odd: var(--light-tr-bg--odd);
  --header-bg: var(--light-header-bg);

  background: var(--bg);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}

body.light, body.dark {
  transition-property: color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

body.dark {
  --bg: var(--dark-bg);
  --color: var(--dark-color);
  --link-color: var(--dark-link-color);
  --link-color--active: var(--dark-link-color--active);
  --tr-bg: var(--dark-tr-bg);
  --tr-bg--odd: var(--dark-tr-bg--odd);
  --header-bg: var(--dark-header-bg);  
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: var(--dark-bg);
    --color: var(--dark-color);
    --sidenav-bg: var(--dark-sidenav-bg);
    --link-color: var(--dark-link-color);
    --link-color--active: var(--dark-link-color--active);
    --tr-bg: var(--dark-tr-bg);
    --tr-bg--odd: var(--dark-tr-bg--odd);
    --header-bg: var(--dark-header-bg);
  }
  body.light {
    --bg: var(--light-bg);
    --color: var(--light-color);
    --sidenav-bg: var(--light-sidenav-bg);
    --link-color: var(--light-link-color);
    --link-color--active: var(--light-link-color--active);
    --tr-bg: var(--light-tr-bg);
    --tr-bg--odd: var(--light-tr-bg--odd);
    --header-bg: var(--light-header-bg);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  line-height: 1.0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--transition-duration--fast) ease-in-out;
}
a:hover {
  color: var(--link-color--active);
  transition: color var(--transition-duration--fast) ease-in-out;
}

h1 a, h2 a, h3 a {
  color: inherit;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding-inline-start: 2rem;
}

li {
  margin: 0 0 0.25rem;
}

hr {
  margin: 2rem 0;
  height: 0;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: rgba(120, 120, 120, 0.3);
  font-weight: 400;
}

tr {
  background: var(--tr-bg);
}

tbody tr:nth-child(odd) {
  background: var(--tr-bg--odd);
}
tbody tr {
  border: 1px solid rgba(184, 196, 194, 0.3);
}

th,
td {
  padding: 0.4rem;
}

code {
  font-family: 'Source Code Pro', Menlo, monospace !important;
  font-size: 0.80rem !important;
  letter-spacing: 0 !important;
}

td > code {
  border: 1px solid rgba(184, 196, 194, 0.5);
  border-radius: 3px;
  padding: 0.1rem;
}
