:root {
  --header-height: 2.5rem;
  --main-width: 70rem;
  --group-color: #777;
  --link-color: rgb(90, 75, 68);
  --link-active-color: rgb(163, 63, 24);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 18px;
  background: linear-gradient(180deg, #f4faff 0%, rgba(255, 255, 255, 0) 100%);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding-inline-start: 2rem;
}

li {
  margin: 0 0 0.5rem;
}

hr {
  margin: 1.8rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: rgba(120, 120, 120, 0.3);
  font-weight: 400;
}

tr {
  background: #fff;
}

th,
td {
  padding: 0.4rem;
}

tbody tr {
  border: 1px solid rgba(184, 196, 194, 0.3);
}
tbody tr:nth-child(odd) {
  background: #f6f8fa;
}

code {
  font-family: 'Source Code Pro', Menlo, monospace;
  font-size: 0.85rem;
  letter-spacing: 0;
}

td > code {
  border: 1px solid rgba(184, 196, 194, 0.5);
  border-radius: 3px;
  padding: 0.1rem;
}
