:root {
  --light-bg: linear-gradient(180deg, #f2f6f5 0%, #e6e7e7 100%);
  --light-color: #1b262c;
  --light-link-color: #3282b8;
  --light-link-active-color: #14415f;
  --light-tr-bg: #fff;
  --light-tr-odd-bg: #f6f8fa;
  --light-header-bg: linear-gradient(118.55deg, #135c8d 3.23%, rgb(33, 108, 158) 97.65%);

  --dark-bg: rgb(20, 20, 25);
  --dark-color: #d0d0d0;
  --dark-link-color: rgb(60, 180, 65);
  --dark-link-active-color: rgb(60, 240, 65);
  --dark-header-bg: linear-gradient(118.55deg, #201e53 3.23%, #102842 97.65%);
  --dark-tr-bg: #3d4a55;
  --dark-tr-odd-bg: #48525f;

  --header-height: 2.5rem;
  --main-width: 70rem;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

body {
  --bg: var(--light-bg);
  --color: var(--light-color);
  --link-color: var(--light-link-color);
  --link-active-color: var(--light-link-active-color);
  --tr-bg: var(--light-tr-bg);
  --tr-odd-bg: var(--light-tr-odd-bg);
  --header-bg: var(--light-header-bg);

  background: var(--bg);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}

body.light-theme {
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

body.dark-theme {
  --bg: var(--dark-bg);
  --color: var(--dark-color);
  --link-color: var(--dark-link-color);
  --link-active-color: var(--dark-link-active-color);
  --tr-bg: var(--dark-tr-bg);
  --tr-odd-bg: var(--dark-tr-odd-bg);
  --header-bg: var(--dark-header-bg);

  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: var(--dark-bg);
    --color: var(--dark-color);
    --link-color: var(--dark-link-color);
    --link-active-color: var(--dark-link-active-color);
    --tr-bg: var(--dark-tr-bg);
    --tr-odd-bg: var(--dark-tr-odd-bg);
    --header-bg: var(--dark-header-bg);
  }
  body.light-theme {
    --bg: var(--light-bg);
    --color: var(--light-color);
    --link-color: var(--light-link-color);
    --link-active-color: var(--light-link-active-color);
    --tr-bg: var(--light-tr-bg);
    --tr-odd-bg: var(--light-tr-odd-bg);
    --header-bg: var(--light-header-bg);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding-inline-start: 2rem;
}

li {
  margin: 0 0 0.5rem;
}

hr {
  margin: 1.8rem 0;
  height: 0;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: rgba(120, 120, 120, 0.3);
  font-weight: 400;
}

tr {
  background: var(--tr-bg);
}

tbody tr:nth-child(odd) {
  background: var(--tr-odd-bg);
}
tbody tr {
  border: 1px solid rgba(184, 196, 194, 0.3);
}

th,
td {
  padding: 0.4rem;
}

code {
  font-family: 'Source Code Pro', Menlo, monospace;
  font-size: 0.85rem;
  letter-spacing: 0;
}

td > code {
  border: 1px solid rgba(184, 196, 194, 0.5);
  border-radius: 3px;
  padding: 0.1rem;
}
