.hamburguer {
  display: none;
  margin-left: 5.0rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}
.hamburguer:hover {
  opacity: 0.8;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}

.bar {
  display: block;
  width: 1.6rem;
  height: 3px;
  margin: 0.3rem auto;
  transition: all var(--transition-duration) ease-in-out;  
  background-color: #dce9f9; 
}

@media only screen and (max-width: 960px) {
  .hamburguer {
    display: inline-block;
  }
}
