.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--header-bg);
  box-shadow: 0 1px 5px 0 rgba(0 0 0 / 30%);
  z-index: 100;
  padding: 0 1rem;
}

.header nav {
  display: flex;
  max-width: var(--main-width);
  margin: 0 auto;
}

.header nav > * {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #dce9f9;
  display: flex;
  gap: 0.5rem;
}
.header nav a:first-of-type {
  flex: 1 0 auto;
  font-family: Consolas, Source Code Pro, Courier New, monospace;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}

.header nav a:last-of-type {
  margin-left: 1rem;
}
