.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--header-bg);
  box-shadow: 0 1px 5px 0 rgba(0 0 0 / 30%);
  z-index: 100;
  padding: 0 var(--side-padding);
}

.nav {
  display: flex;
  align-items: center;
}

.nav > * {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #dce9f9;
}

.logo {
  margin-left: 0;  
  gap: 0.3rem;
  font-family: Consolas, Source Code Pro, Courier New, monospace;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}
