.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 var(--side-padding);
  width: 100%;
  height: var(--header-height);
  background: var(--header-bg);
  box-shadow: 0 1px 5px 0 rgba(0 0 0 / 30%);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
}

.nav > * {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #dce9f9;
}

.logo {
  margin-left: 0;  
  gap: 0.4rem;
  font-family: Consolas, Source Code Pro, Courier New, monospace;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}

.sidenavToggler {
  display: none;
  margin-left: 5.0rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}
.sidenavToggler:hover {
  opacity: 1;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}

.bar {
  display: block;
  width: 1.6rem;
  height: 3px;
  margin: 0.3rem auto;
  transition: all var(--transition-duration) ease-in-out;  
  background-color: #dce9f9; 
}

@media only screen and (max-width: 960px) {
  .sidenavToggler {
    display: inline-block;
  }
}

.themeToggler {    
  margin-left: auto;
  opacity: 0.85;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}
.themeToggler:hover {
  opacity: 1.0;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}

.themeToggler input {
  display: none;
}

.themeTogglerSwitcher {  
  display: inline-block;
  height: 22px;
  width: 22px;
  cursor: pointer;  
  transition: background-image var(--transition-duration) ease-in-out;
}

.themeToggler input + .themeTogglerSwitcher {
  background-image: url('/sun.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.themeToggler input:checked + .themeTogglerSwitcher {
  background-image: url('/moon.svg');
}
