.main {
  display: flex;
  margin: 0 auto;
  margin-top: var(--header-height);
  width: 90%;
  max-width: var(--main-width);
}

.main > :first-child {
  flex: 0 1 calc(100% - 9rem);
}

.main > :not(:first-child) {
  flex: 1 0 auto;
  margin-left: 2rem;
  margin-right: -999px;
  padding-right: 999px;
}
