.sidenav {
  --top: var(--header-height);
  position: sticky;
  top: var(--top);
  height: calc(100vh - var(--top));
  padding: 1rem 1rem 1rem var(--side-padding);
  font-weight: 500;
  background-color: var(--sidenav-bg);
  box-shadow: 1px 0px 1px rgba(48, 54, 61, 0.1);
}

.sidenav ul {
  list-style: none;
}

.sidenav > ul {
  padding: 0;
  margin: 0;
}

.sidenav li.active > a {
  color: var(--link-color--active);
}

.sidenav li li {
  margin: 0;
}

.sidenav li a {
  white-space: nowrap;
}

.sidenav.open {
  transform: translateX(0);
  transition: transform var(--transition-duration) ease-in-out; 
}

@media only screen and (max-width: 960px) {
  .sidenav {
    position: absolute;   
    transform: translateX(-100%);
    transition: transform var(--transition-duration) ease-in-out; 
  }
}