.sidenav {
  border-right: 1px solid #dbdbdb;
  font-size: 0.97em;
  min-height: 100vh;
  padding: 1rem;
}

.sidenav ul {
  /* position: fixed; */
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidenav a {
  color: #444;
}
