.themeToggler {    
  margin-left: auto;
  opacity: 0.8;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}
.themeToggler:hover {
  opacity: 1.0;
  transition: opacity var(--transition-duration--fast) ease-in-out;
}

.themeToggler input {
  display: none;
}

.themeTogglerSwitcher {  
  display: inline-block;
  height: 22px;
  width: 22px;
  cursor: pointer;  
  transition: background-image var(--transition-duration) ease-in-out;
}

.themeToggler input + .themeTogglerSwitcher {
  background-image: url('/sun.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.themeToggler input:checked + .themeTogglerSwitcher {
  background-image: url('/moon.svg');
}
