.themeSwitchWrapper {
  display: flex;
  align-items: center;
}

.themeSwitch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 50px;
}
.themeSwitch input {
  display: none;
}

.themeSwitchSlider {
  background: var(--light-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: 28px;
  box-shadow: 1px 0 2px 0 rgba(150, 150, 150, 0.5);
}

.themeSwitchSlider:before {
  background: #ccc;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  width: 20px;
  border-radius: 50%;
}

.themeSwitchWrapper input:checked + .themeSwitchSlider {
  background: #000;
}

.themeSwitchWrapper input:checked + .themeSwitchSlider:before {
  transform: translateX(20px);
  background: #aaa;
}
