.sidenav {
  --top: var(--header-height);
  flex: 1 0 auto;
  position: sticky;
  top: var(--top);
  height: calc(100vh - var(--top));
}

.article {
  flex: 0 1 calc(100% - 9rem);
  padding: 0 1rem;
}

@media only screen and (max-width: 1240px) {
  .sidenav {
    position: unset;
    top: unset;
    height: unset;
  }
  .main {
    display: block;
  }
}
